@font-face {
    src: url("FetteKanzlei.ttf");
}
.root {
    -fx-background-image: url('ViewImage/background.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
.easter-egg-background {
    -fx-background-image: url('ViewImage/icon.jpg'); /* Needs to be changed to easterImage.jpg or png or whatever */
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
.title-label {
    -fx-font-size: 25pt;
    -fx-font-family: "Fette Kanzlei"; /* Exact match to .ttf title (not filename!!!) */
    -fx-text-fill: #63d963;
}
.generic-label {
    -fx-text-fill: white;
    -fx-font-size: 18pt;
}
.credits-label {
    -fx-text-fill: white;
}
